h1, h2 {
    color:rgb(37, 20, 194);
    font-family: 'Franklin Gothic Medium';
    font-style: italic;
}
ul, ol, li a {
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium';
}
a[href*="http"] {
  background: url("link.png") no-repeat 100% 0;
  background-size: 17px 17px;
  padding-right: 20px;
}
body {
    background: linear-gradient(rgb(231,132,111),rgb(255,123,211));
}
img {
    border-radius: 20px;
    border: 5px #000000;
    box-shadow: 0px 0px 20px;
    margin-left: auto;
    margin-right: auto;
}
button {
    padding: 15px 40px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-bottom: auto;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium';
    cursor: pointer;
}
button:hover {
    background-color: rgb(255, 123, 211);
}
.registration {
    max-width: 320px;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.479);
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }

  input[type="submit"] {
    background-color: rgb(255, 255, 255);
    color: #000000;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #000000;
    font-family: 'Franklin Gothic Medium';
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="submit"]:hover {
    background-color: rgb(255, 123, 211);
    
  }
  .navbar {
    overflow: hidden;
    background-color: linear-gradient(rgb(231,132,111),rgb(255,123,211));
    font-family: 'Franklin Gothic Medium';
  }
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    background-color: inherit;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    font-family: 'Franklin Gothic Medium';
    margin: 0; 
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 0);
  }
  
  .dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(231,132,111);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  p {
    font-family: 'Franklin Gothic Medium';
  }
  .other {
    font-size: 20px;
    border: none;
    outline: none;
    background-color: inherit;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    font-family: 'Franklin Gothic Medium';
    margin: 0; 
  }
  .other:hover {
    background-color: #000000;
  }
  p, ul, li, ol, h1, h2 {
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
img, footer, .anim, .dropbtn {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 3s forwards;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animated-title {
  animation: colorChange 8s infinite alternate; 
}

@keyframes colorChange {
  0% { color: #ffffff; }
  25% { color: rgb(37, 20, 194); } 
  50% { color: #ffffff; } 
  75% { color: #ffffff; }
  100% { color: rgb(37, 20, 194); }
}